DB_PATH=./data/analytics/financial_data.duckdb
LOG_LEVEL=INFO
BYBIT_API_KEY=thekey
BYBIT_API_SECRET=secret
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT_URL=http://minio:9000
SUPERSET_SECRET_KEY=secret_key
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin