.env
.venv
venv/
__pycache__/

#data folders
data/raw/*
data/processed/*
data/analytics/*
data/.pipeline_checkpoint.json

*duckdb
*.log
.pytest_cache/

# Dash cache
.dash_cache/
notebooks/.ipynb_checkpoints/

# Obsidian notes
obsidian_notes/
.obsidian/